html {
    box-sizing: border-box;
  }

.brands {
    border-top: 1px solid #D9FFF5;
    background-color: #f8f8f8;
    padding: 0;
    padding-bottom: 39px;
    max-width: 1120px;
}

.section-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    display: block;
    padding: 16px 32px;
    background-image: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands__slider {
    padding: 16px;
}


.swiper-container{
    width: 100%;
    height: 130px;
    margin-bottom: 24px; 
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: -80px;
}
.swiper-pagination-bullet {
    background: #ddd;
}
 .swiper-pagination-bullet-active {
    background: #B5B6BC;
 }

.slider-item {
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin: 8px;
    padding-right: 16px;
}

.slider-item--lenovo {
    background: #FFFFFF url('../img/brands/lenovo.svg') no-repeat 10% 50%;
}

.slider-item--samsung {
    background: #FFFFFF url('../img/brands/samsung.svg') no-repeat 10% 50%;
}

.slider-item--apple {
    background: #FFFFFF url('../img/brands/apple.svg') no-repeat 10% 50%;
}

.slider-item--viewsonic {
    background: #FFFFFF url('../img/brands/viewsonic.svg') no-repeat 10% 50%;
}

.slider-item--bosh {
    background: #FFFFFF url('../img/brands/bosh.svg') no-repeat 10% 50%;
}

.slider-item--hp {
    background: #FFFFFF url('../img/brands/hp.svg') no-repeat 10% 50%;
}

.slider-item--acer {
    background: #FFFFFF url('../img/brands/acer.svg') no-repeat 10% 50%;
}

.slider-item--sony {
    background: #FFFFFF url('../img/brands/sony.svg') no-repeat 10% 50%;
}



.slider-link {
    display: block;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background: url('../img/brands/dropdown.svg') no-repeat 50% 50%;

}

.slider-link:hover {
    opacity: 0.5;
    transition: .5s ease-in-out;
}

.brands__span {
    padding-left: 24px;
    margin-left: 28px;

}

.brands__span--hidden {
    display: none;
}

@media (min-width: 767px) {

 .slider { 
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow-y: hidden;
} 
    .swiper-container {
        width: inherit;
        height: inherit;
        box-sizing: border-box;
    }

    .brands__slider {
        height: 200px;
        padding: 24px 12px;
    }

    .slider-item {
        width: 224px; 
         margin: 8px ;      
    }

    
    

    .show-toggle {
        display: block;
        
    }

    .show-toggle--rotate {
        transition: all 0.5s ease-in-out;
    }

    .show-toggle--rotate::before {
transform: rotate(180deg);
    }

}

@media (min-width: 1120px) {
    
    .slider-item {
        width: 240px;
        margin: 8px 16px;
    }  

    .brands__slider {
        max-width: 1120px;
        padding: 24px 16px;
    }

   .slider-item--mr { 
        margin-right: 30px;
    }


}