
@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
min-width: 320px;  
background: #f8f8f8; 
color: #1B1C21;
font-family: 'TT Lakes',Arial, sans-serif;
font-style: normal;
font-weight: normal;
color: #1B1C21;
margin: 0;
padding: 0;
}

img {
  width: 100%;
}

/* ----------------header------------------ */
.header, .main {
  margin: 0 auto;
  
  
}
.header {
  background: #fff;
  border-bottom: 1px solid  #D9FFF5;
}
.header__container {
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding: 24px 16px;
  }

  .header__logo {
    position: relative;
    margin-right: auto;
   
    padding-left: 20px;
  } 

.header__conacts {
  display: none;
  width: 172px;
  justify-content: space-between;
}

.header__repair {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 116px;
  padding-left: 20px;
}

.header__repair::before {
content: "";
display: block;
position: absolute;
width: 2px;
height: 32px;
background: #EAEAEA;
border-radius: 1px;
left: 0;
top: 4px;
}

  .button {
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
background: #FF3E79;
border: none;
font-size: 0;
  }
  .button:hover {
    opacity: 0.8;
  }



  .menu {
   background-image: url('../img/icon1.svg');
   background-repeat: no-repeat;
   background-position: center center;
  } 
  .phone{
    background-image: url('../img/icon6.svg');
    background-repeat: no-repeat;
    background-position: center center;
   } 
   .chat {
    background-image: url('../img/icon5.svg');
    background-repeat: no-repeat;
    background-position: center center;
   } 
   .profile {
    background-image: url('../img/icon4.svg');
    background-repeat: no-repeat;
    background-position: center center;
   } 
   .repair {
    background-image: url('../img/icon2.svg');
    background-repeat: no-repeat;
    background-position: center center;
   } 
   .status {
    background-image: url('../img/icon3.svg');
    background-repeat: no-repeat;
    background-position: center center;
   } 
/* --------------main----------------- */

.main__container {
  padding: 24px 0;
}

.main__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding: 0 16px;

font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
}

.main__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #41F6D7;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  left: 0;
}

  .main_repair {
    display: none;
    justify-content: space-between;
    width: 380px;
    align-items: center;
  margin-right: 20px;
  }

  .main_repair__label {
    font-family: TT Lakes;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: left;
  }
.main__menu {
  margin-bottom: 24px;
  padding-right: 16px;
  
}

.mainMenu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-left: 16px;
  overflow: auto;
  
}

.mainMenu__item {  
  list-style: none;
}

.mainMenu__item--active {
  background: #FFFFFF;
border: 2px solid #B8FFEC;
border-radius: 6px;

}

.mainMenu__link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #7E7E82;
white-space: nowrap;
}

.promo {  
  margin: 0 auto;
  margin-bottom: 16px;
}

.promo__text {  
  padding: 0 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.promo__text--hidden-mobile {
  display: none;
}

.promo__link {
  display: block;
  position: relative;
  font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
color: #1B1C21;
text-decoration: none;
margin-left: 16px;
margin-bottom: 16px;
padding-left: 32px;
}

.promo__link::before {
content: "";
display: block;
position: absolute;
width: 24px;
height: 24px;
background: transparent url('../img/expand.svg') no-repeat 50% 50%;
top: 0px;
left: 0px;
}

@media (min-width:480px) {
  .header__logo {
  position: relative;
  margin-right: auto;
  margin-left: 20px;
  padding-left: 20px;
}

.header__logo::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px;
  left: 0;
  top: 14px;
}

.promo__text--hidden-mobile {
  display:block;
}

.promo__text--hidden {
  display: none;
}
}

@media (min-width: 640px) {
 .header__conacts {
  display: flex;
  padding-right: 20px;
}
}

@media (min-width: 768px) {




.main__title {
  margin-bottom: 32px;
}

.mainMenu {
  margin-bottom: 32px;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.promo_text__container {  
  flex-basis: 45%;
  height: auto;
  
}

.promo__text {
  margin-top: 0;
}
.promo___img__container {
  margin-right: 40px;
  flex-basis: 45%;
}

.promo__img {
  border-radius: 6px;
}

.promo__text--hidden {
  display: none;
} 

}
@media (min-width: 1000px) {
  .promo__text--hidden {
    display: inline;
  }

}

@media (min-width: 1200px) {
.header {
  display: none;
}



.main {
  max-width: 1200px;
}

.main__tiltle_container {
  display: flex;
  justify-content: space-between;
}

.main_repair {
  display: flex;
  
}

.main_repair__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}
  .promo {
    display: flex;
    justify-content: space-between;
    
  }

  .promo_text__container, .promo___img__container {
    flex-basis: 45%;
  }  
}